<suite name="Final project" verbose="1">
    <test name="OLX test">
<!--        <groups>-->
<!--            <define name="Positive Tests">-->
<!--                <include name="Positives" />-->
<!--            </define>-->
<!--            <define name="Negative Tests">-->
<!--                <include name="Negatives" />-->
<!--            </define>-->
<!--            <run>-->
<!--                <exclude name="Positive tests" />-->
<!--                <include name="Negative tests" />-->
<!--            </run>-->
<!--        </groups>-->
       <!-- <packages>
            <package name = "test"/>
        </packages>-->
        <classes>
            <class name="test.HeaderTest"></class>
            <class name="test.LoginTest"></class>
            <class name="test.SearchTest"></class>
            <class name="test.AdOperationsTest"></class>
            <class name="test.CandidateTest"></class>
            <class name="test.WalletTest"></class>
        </classes>
    </test>
</suite>